
# No IntelliJ IDEA files.
.idea/*
*.iml
*~

# no vscode configs
.vscode/*

# Don't track compile output / gradle output
build/*
gradle/*
.gradle/*
out/*
generated-src/*
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
